<li><a title="">Reset Password</a></li>
</ol>
</div>
</div>
</header>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Reestablecer contraseña </h2>

      <form>
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
        <input type="password" id="password" class="fadeIn second" name="password" placeholder="Password">
        
        <input type="submit" class="fadeIn fourth" value="Enviar">
      </form>
    </div>
  </div>