<li><a title="">Reset Password</a></li>
</ol>
</div>
</div>
</header>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Reestablecer contraseña </h2>
      <p class="parrafo-reset">Enviaremos un email a tu casilla de correo para reestablecer tu contraseña.</p>

      <form action="/sent-email" method="post">
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
        
        <input type="submit" class="fadeIn fourth" value="Enviar">
      </form>
    </div>
  </div>