                <li><a title="">Proceso de compra</a></li>
            </ol>
        </div>
    </div>
</header>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active"> Gracias por elegirnos, se ha generado la orden de compra. Continua con el proceso de pago </h2>
      
        <form>
            <div class="tab-slides">
                <br>
                <br>
                <p>Resumen:</p>
                <br>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Orden: {{code}}

                </div>
               
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Fecha: {{purchase_datetime}}
                </div>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Total: $ {{amount}}
                </div>
                <div id="tab-slide-1" itemprop="description" class="slide active">
                    Comprador: {{purchaser}}
                </div>
                <br>

                <br>
                <p>Te enviamos un email con el detalle de tu compra</p>
            </div>
        </form>
    </div>
</div>
